/* .text-center {
  font-family: "fantasy";
  font-style: italic;
  text-align: center;
} */

h1 {
  margin-bottom: 50px;
}

h4 {
  font-size: large;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: small;
}

.kaiga {
  border-width: 20px;
  border-color: black;
  border-style: solid;
}

body {
  background-image: url(images/background_img.webp);
  padding-left: 20px;
}

.kitty_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-bottom: 0;
}
